.logo {
    width: 200px;
    margin-left: 20px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 0;
    margin-bottom: 0;
}

.navbar > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav > ul > li {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
    list-style: none;
    font-size: 20px;

    transition: 300ms;
}

nav > ul > li.max:hover {
    transition: 400ms;
    transform: scaleX(1.1) scaleY(1.1);
    border-radius: 50px;
    font-weight: bold;

}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.search-icon {
    position: relative;
    right: -30px;
    top: 3px;
}

.search-bar {
    width: 250px;
    text-align: center;
    height: 20px;
}

.search-bar:hover, .search-bar:focus {
    border: 2px solid #009688;
    background-color: white;
}

.language-selector > *{
    height: 25px;
    border-radius: 25px;
}
