@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin:0;
    font-size: 20px;
}
header {
    box-shadow: #333333 0 0 10px;
}
footer {
    margin-top: 35px;
}

.card {
    width: 300px;
    height: 450px;
    background-color: #333;
    outline: 1px solid rgba(255,255, 255, 0.5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    align-self: center;
    margin-top: 50px;
    cursor: pointer;
}

.card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: transform 0.75s;
}

.card:hover .card-image {
    transform: scale(1.2);
}

.card-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
}

.schedule-content {
    display: flex;
    justify-content: space-evenly;
}

.schedule-item {
    margin-right: 15px;
}

.schedule-title {
    margin-bottom: 0;
    text-align: center;
}

.schedule {
    height: 150px;
    display: none;
    grid-area: schedule;
}

.placeholder {
    grid-area: ph;
}



.showtimes {
    width: 450px;
    height: 450px;
    display: none;
    position: fixed;
    border-radius: 40px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(169, 234, 255, 0.99);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 2s;
}

.showtimes-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showtimes-item {
    margin-right: 15px;
    justify-content: center;
}
.showtimes-title {
    margin-bottom: 10px;
    text-align: center;
}

.st-unique {
    display: none;
}

.schedule {
    display: none;
}

.dark {
    background-color: rgba(0,0,0,0.75);
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 15000px;
    width: 2000px;
    z-index: 5;
    animation: fadeIn 1s;
}

.close {
    cursor: pointer;
    display: flex;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cinemas-title {
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;
}

.cinemas-container {
    overflow: auto;
}

.cinemas {
    display: flex;
    scroll-snap-type: x mandatory;

    margin-right: 15px;
    margin-left: 15px;
}

.cinema-card {
    scroll-snap-align: start;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.cinema-card > img {
    height: 250px;
}

.menu-icon {
    cursor: pointer;
    display: none;
    margin-right: 50px;
}

.menu-icon > img {
    width: 50px;
}

.menu-mobile-content {
    display: none;
}

.max-mobile-ul {
    padding: 0;
}

.max-mobile {
    width:100%;
    height: 50px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

/* Media query for 1300px or smaller displays */
@media screen and (max-width: 1300px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

 /* Media query for 1065px or smaller displays */
@media screen and (max-width: 1065px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .max {
        margin-left: 5px;
        margin-right: 5px;
    }
}

 /* Media query for 950px or smaller displays where menu collapses */
@media screen and (max-width: 950px) {
    .max {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .language-selector-li {
        display: none;
    }
}

/* Media query for mobile displays */
@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .searchbar {
        display: none;
    }
    .max {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .card {
        width: 100%;
        height: 350px;
    }
    .card:hover {
        transform: scale(1.05);
    }
}

.animated {
    animation: fadeIn 1.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.max-mobile:hover {
    transform: scaleX(1.05) scaleY(1.05);
}
.max-mobile > a {
    padding: 10px;
    border-radius: 40px;
}
.max-mobile > a:hover {
    background-color: rgba(78, 214, 255, 0.50);
    transition: fadeIn 0.5s;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .searchbar {
        display: none;
    }
    .max {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon > img {
        width: 75px;
    }
    .card {
        width: 100%;
        height: 700px;
    }
    .card:hover {
        transform: scale(1.05);
    }

    .max-mobile > a{
        font-size: 6vw;
    }
    .max-mobile {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .card > h3 {
        font-size: 6vw;
    }

    .footer {
        display: none;
    }
}

#language-picker-select {
    height: 30px;
    border: none;
    background-color: inherit;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-times {
    position: absolute;
}

.cinema-selector_form > select {
    background-color: #5aaaf8;
    height: 35px;
    width: 400px;
    margin-bottom: 35px;
    display: block;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.submit-button {
    background-color: #5dc1ec;
    height: 35px;
    width: 250px;
    display: block;
    margin: 70px auto 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: 500ms;
    box-shadow:
    #bfbaff 4px 4px,
    #ffdef7 8px 8px;
}

.submit-button:hover {
    background-color: #5aaaf8;
    transform: scale(1.05);
    transition: 500ms;
    box-shadow:
    #bfbaff 8px 8px,
    #ffdef7 12px 12px;
}
