.trailerCard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 2s;
}
